extends ../base/main.pug

block body
  header
    #logo.text-container
      h1
        | Marco
        span Wright
      h2 Product Designer
    include ../block/menu.pug
    .pagenumber
      span 00
      //
        <span>01</span>
        <span>02</span>
        <span>03</span>
  section#body
    h3 What am I currently doing?
    p Hacktober Fest: Open Soure
    p Creating A Site Commenmorating The Triple Double
    p Creating branding for an agency side project
  #werkhorse-mobile-app
    #werkhorse-mobile-app-logo
      img(src='assets/mlogo.svg', alt='logo')
    #werkhorse-mobile-app-body
      h3 Project Name: Werkhorse Mobile app
      p Audience: Food Service industry owners/workers
      p
        | Problem: Restaurants were chronically facing staffing issues affecting employee moral, customer service, and revenue.
      p Goal: Provide short-term work solutions for the food industry.
      p Role/Tools: Product Designer/Sketch/Adoboe XD, Invision, Wake
      p
        | Lessons Learned: Do more research. Learn how to affectively communicate the essence of the product.
