mixin menu_item(url, number, title)
  li
    a(href=url)
      span= number
      | #{title}

nav
  +menu_item('index.html', '00', 'Home')
  +menu_item('about.html', '01', 'About')
  +menu_item('work.html', '02', 'Work')
  .work_nav
    li
      a(onclick="navigate('werkhorse-mobile-app')", href='#')
        span
        | Werkhorse mobile app
    li
      a(href='#')
        span
        | Werkhorse landing page
  +menu_item('contact.html', '03', 'Contact')
