doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Marco Wright
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/superhi_normal.css')
    link(rel='stylesheet', href='css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:700,300', rel='stylesheet', type='text/css')
  script.
    function navigate(page) {
    if (page === 'werkhorse-mobile-app') {
    var logo = document.getElementById('werkhorse-mobile-app-logo').innerHTML
    var body = document.getElementById('werkhorse-mobile-app-body').innerHTML
    document.getElementById('body').style.marginTop = '427px'
    document.getElementById('logo').innerHTML = logo;
    document.getElementById('body').innerHTML = body;
    }
    console.log(page);
    }
  body
    block body
